<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>主页 - 考研数据库</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="main" class="container">
    <div class="row">

        <div class="col-sm-12 text-center logo">
            <img src="img/logo.png" class="img-responsive" alt="Responsive image">
        </div>

        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="active">主页</li>
            </ol>
        </div>

        <div class="col-sm-12 mt-10">
            <div class="input-group">
                <input id="search_keyword" type="text" class="form-control"
                       placeholder="搜索 院校名（例：浙江中医药大学）、代码（例：10344）、地区（例：杭州）">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" onclick="searchGo()">Go!</button>
                </span>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="menu">
                <p>
                    <span class="label label-default menu-label">院校特性</span>
                </p>
                <speciality_list v-for="speciality in speciality_data"
                                 v-bind:speciality="speciality"
                                 v-bind:key="speciality.id">
                </speciality_list>
                <button class="btn btn-primary" data-toggle="modal" data-target="#specialityManagerModal">
                    管理
                </button>
                <div id="specialityManagerModal" class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="specialityManagerModalLabel">管理院校特性</h4>
                            </div>
                            <div class="modal-body">
                                <form id="specialityManagerModalForm">
                                    <div class="form-group">
                                        <label>院校特性</label>
                                        <select id="specialityManagerSelect" class="form-control">
                                            <option value="-1">- 添加院校特性 -</option>
                                            <option v-for="speciality in speciality_data"
                                                    :value="speciality.id">
                                                {{speciality.name}}
                                            </option>
                                        </select>
                                    </div>
                                </form>
                                <form id="specialityManagerAddModalForm">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>特性ID</label>
                                            <input name="id" type="text" class="form-control" readonly
                                                   :value="change_speciality_data.id">
                                        </div>
                                        <div class="form-group">
                                            <label>特性名称<span class="text-danger">*</span></label>
                                            <input name="name" type="text" class="form-control" placeholder="985"
                                                   :value="change_speciality_data.name">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button id="specialityManagerModalFormDelete" type="button" class="btn btn-danger">
                                    删除
                                </button>
                                <button id="specialityManagerModalFormSubmit" type="button" class="btn btn-primary">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <p>
                    <span class="label label-default menu-label">院校类别</span>
                </p>
                <type_list v-for="type in type_data"
                           v-bind:type="type"
                           v-bind:key="type.id">
                </type_list>
            </div>
            <div class="menu">
                <p>
                    <span class="label label-default menu-label">院校性质</span>
                </p>
                <nature_list v-for="nature in nature_data"
                             v-bind:nature="nature"
                             v-bind:key="nature.id">
                </nature_list>
            </div>
            <div class="menu">
                <a id="more_menu" href="javascript:void(0)">
                    <span class="label label-success menu-label">更多选项</span>
                </a>
            </div>
            <div id="location_menu" hidden>
                <div class="menu">
                    <p>
                        <span class="label label-default menu-label">操作</span>
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                        添加院校
                    </button>
                    <div id="addModal" class="modal fade"
                         tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="addModalLabel">添加院校</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="addModalForm">
                                        <div class="form-group">
                                            <label>院校名称<span class="text-danger">*</span></label>
                                            <input name="name" type="text" class="form-control"
                                                   placeholder="浙江中医药大学">
                                        </div>
                                        <div class="form-group">
                                            <label>院校代码<span class="text-danger">*</span></label>
                                            <input name="cCode" type="text" class="form-control"
                                                   placeholder="10344">
                                        </div>
                                        <div class="form-group">
                                            <label>院校特性<span class="text-danger">*</span></label>
                                            <select name="specialities" multiple class="form-control">
                                                <option v-for="speciality in speciality_data"
                                                        :value="speciality.id">
                                                    {{speciality.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>院校性质<span class="text-danger">*</span></label>
                                            <select name="cNature.id" class="form-control">
                                                <option v-for="nature in nature_data"
                                                        :value="nature.id">
                                                    {{nature.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>院校类型<span class="text-danger">*</span></label>
                                            <select name="cType.id" class="form-control">
                                                <option v-for="type in type_data"
                                                        :value="type.id">
                                                    {{type.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>地区<span class="text-danger">*</span></label>
                                            <select name="location.id" class="form-control">
                                                <option v-for="location in location_data"
                                                        :value="location.id">
                                                    {{location.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>创立时间</label>
                                            <input name="foundingYear" type="date" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>所处分区</label>
                                            <input name="cPartition" type="text" class="form-control"
                                                   placeholder="一区">
                                        </div>
                                        <div class="form-group">
                                            <label>综合排名</label>
                                            <input name="ranking" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>地区竞争力排行</label>
                                            <input name="areaCompetitiveRanking" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>院校竞争力排行</label>
                                            <input name="collegesCompetitiveRanking" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>联系方式</label>
                                            <input name="phoneNumber" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>校徽图片链接</label>
                                            <input name="badgeUrl" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>院校展示图片链接</label>
                                            <input name="imgUrl" type="text" class="form-control"
                                                   value="http://college.koolearn.com/upload/school/kaoyan/10004.jpg">
                                        </div>
                                        <div class="form-group">
                                            <label>院校简介</label>
                                            <textarea name="cDescription" class="form-control"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button id="addModalFormSubmit" type="button" class="btn btn-primary">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <p>
                        <span class="label label-default menu-label">地区</span>
                    </p>
                    <location_list v-for="location in location_data"
                                   v-bind:location="location"
                                   v-bind:key="location.id">
                    </location_list>
                </div>
            </div>

        </div>
        <div class="col-sm-9 left-line">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th v-for="column in columns">{{column.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="college in college_data">
                        <td>
                            <a :href="'../college/' + college.id">
                                {{college.name}}
                            </a>
                        </td>
                        <td>{{college.cCode}}</td>
                        <td>{{college.cNature}}</td>
                        <td>{{college.cType}}</td>
                        <td>{{college.ranking}}</td>
                        <td>{{college.foundingYear}}</td>
                        <td>{{college.location}}</td>
                        <td>
                            <a class="text-success" :href="'javascript:updateCollege('+college.id+')'">修改</a>
                            <a class="text-danger" :href="'javascript:deleteCollege('+college.id+')'">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">页数：{{page}} / {{total_pages}}</td>
                        <td colspan="3">总条数：{{total_elements}}</td>
                        <td colspan="2">
                            每页条数：
                            <select id="page_size_select">
                                <option value="10">10</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <div id="updateCollegeModal" class="modal fade"
                     tabindex="-1" role="dialog" aria-labelledby="updateCollegeModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="updateCollegeModalLabel">修改</h4>
                            </div>
                            <div class="modal-body">
                                <form id="updateCollegeModalForm">
                                    <div class="form-group">
                                        <label>院校ID<span class="text-danger">*</span></label>
                                        <input name="id" type="text" class="form-control"
                                               :value="change_college_data.id"
                                               readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>院校名称<span class="text-danger">*</span></label>
                                        <input name="name" type="text" class="form-control"
                                               placeholder="浙江中医药大学"
                                               :value="change_college_data.name">
                                    </div>
                                    <div class="form-group">
                                        <label>院校代码<span class="text-danger">*</span></label>
                                        <input name="cCode" type="text" class="form-control"
                                               placeholder="10344"
                                               :value="change_college_data.cCode">
                                    </div>
                                    <div class="form-group">
                                        <label>院校特性<span class="text-danger">*</span></label>
                                        <select name="specialities" id="change_select_speciality" multiple
                                                class="form-control">
                                            <option v-for="speciality in speciality_data"
                                                    :value="speciality.id">
                                                {{speciality.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>院校性质<span class="text-danger">*</span></label>
                                        <select id="change_select_nature" name="cNature.id" class="form-control">
                                            <option v-for="nature in nature_data"
                                                    :value="nature.id">
                                                {{nature.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>院校类型<span class="text-danger">*</span></label>
                                        <select id="change_select_kind" name="cType.id" class="form-control">
                                            <option v-for="type in type_data"
                                                    :value="type.id">
                                                {{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>地区<span class="text-danger">*</span></label>
                                        <select id="change_select_location" name="location.id" class="form-control">
                                            <option v-for="location in location_data"
                                                    :value="location.id">
                                                {{location.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>创立时间</label>
                                        <input name="foundingYear" type="date" class="form-control"
                                               :value="change_college_data.foundingYear">
                                    </div>
                                    <div class="form-group">
                                        <label>所处分区</label>
                                        <input name="cPartition" type="text" class="form-control"
                                               placeholder="一区"
                                               :value="change_college_data.cPartition">
                                    </div>
                                    <div class="form-group">
                                        <label>综合排名</label>
                                        <input name="ranking" type="text" class="form-control"
                                               :value="change_college_data.ranking">
                                    </div>
                                    <div class="form-group">
                                        <label>地区竞争力排行</label>
                                        <input name="areaComp?etitiveRanking" type="text" class="form-control"
                                               :value="change_college_data.areaCompetitiveRanking">
                                    </div>
                                    <div class="form-group">
                                        <label>院校竞争力排行</label>
                                        <input name="collegesCompetitiveRanking" type="text" class="form-control"
                                               :value="change_college_data.collegesCompetitiveRanking">
                                    </div>
                                    <div class="form-group">
                                        <label>联系方式</label>
                                        <input name="phoneNumber" type="text" class="form-control"
                                               :value="change_college_data.phoneNumber">
                                    </div>
                                    <div class="form-group">
                                        <label>校徽图片链接</label>
                                        <input name="badgeUrl" type="text" class="form-control"
                                               :value="change_college_data.badgeUrl">
                                    </div>
                                    <div class="form-group">
                                        <label>院校展示图片链接</label>
                                        <input name="imgUrl" type="text" class="form-control"
                                               :value="change_college_data.imgUrl">
                                    </div>
                                    <div class="form-group">
                                        <label>院校简介</label>
                                        <textarea name="cDescription" class="form-control"
                                                  :value="change_college_data.cDescription"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button id="updateCollegeModalFormSubmit" type="button" class="btn btn-primary">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pager">
                        <li class="previous">
                            <a onclick="pageController(0)" href="javascript:void(0)">
                                首页
                            </a>
                        </li>
                        <li class="previous">
                            <a onclick="pageController(-1)" href="javascript:void(0)">
                                <span aria-hidden="true">
                                    &larr;
                                </span>
                                上一页
                            </a>
                        </li>
                        <li class="next">
                            <a onclick="pageController(-2)" href="javascript:void(0)">
                                末页

                            </a>
                        </li>
                        <li class="next">
                            <a onclick="pageController(1)" href="javascript:void(0)">
                                下一页
                                <span aria-hidden="true">
                                    &rarr;
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <p>陈健&nbsp;孟凡锦&nbsp;王浩银&nbsp;汪恒</p>
    <p>所有数据均来自网络搜集，仅供参考</p>
</footer>

<script type="text/javascript" src="js/canvas-nest.min.js">!function () {
    function n(n, e, t) {
        return n.getAttribute(e) || t
    }

    function e(n) {
        return document.getElementsByTagName(n)
    }

    function t() {
        var t = e("script"), o = t.length, i = t[o - 1];
        return {l: o, z: n(i, "zIndex", -1), o: n(i, "opacity", .5), c: n(i, "color", "0,0,0"), n: n(i, "count", 99)}
    }

    function o() {
        a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth, c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    }

    function i() {
        r.clearRect(0, 0, a, c);
        var n, e, t, o, m, l;
        s.forEach(function (i, x) {
            for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y < 0 ? -1 : 1, r.fillRect(i.x - .5, i.y - .5, 1, 1), e = x + 1; e < u.length; e++) n = u[e], null !== n.x && null !== n.y && (o = i.x - n.x, m = i.y - n.y, l = o * o + m * m, l < n.max && (n === y && l >= n.max / 2 && (i.x -= .03 * o, i.y -= .03 * m), t = (n.max - l) / n.max, r.beginPath(), r.lineWidth = t / 2, r.strokeStyle = "rgba(" + d.c + "," + (t + .2) + ")", r.moveTo(i.x, i.y), r.lineTo(n.x, n.y), r.stroke()))
        }), x(i)
    }

    var a, c, u, m = document.createElement("canvas"), d = t(), l = "c_n" + d.l, r = m.getContext("2d"),
        x = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (n) {
            window.setTimeout(n, 1e3 / 45)
        }, w = Math.random, y = {x: null, y: null, max: 2e4};
    m.id = l, m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o, e("body")[0].appendChild(m), o(), window.onresize = o, window.onmousemove = function (n) {
        n = n || window.event, y.x = n.clientX, y.y = n.clientY
    }, window.onmouseout = function () {
        y.x = null, y.y = null
    };
    for (var s = [], f = 0; d.n > f; f++) {
        var h = w() * a, g = w() * c, v = 2 * w() - 1, p = 2 * w() - 1;
        s.push({x: h, y: g, xa: v, ya: p, max: 6e3})
    }
    u = s.concat([y]), setTimeout(function () {
        i()
    }, 100)
}();
</script>
<!--<script src="js/vue.js"></script>-->
<script src="js/vue_dev.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>
<script src="js/index.js"></script>
</body>
</html>
