.logo img {
    margin: 10px auto;
}

.btn-checked {
    margin: 4px 4px;
}

.btn-uncheck {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 4px 4px;
}

.menu p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu span {
    margin-left: 5px;
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    .left-line {
        border-left: #cdc6cd 1px solid;
    }
}
